@page "/random-service-challenge"


<h3>Medium Challenge: Random Number Service</h3>

<p>Click the button to generate a random number between 1 and 100.</p>

<p>Random Number: @randomNumber</p>

<button class="btn btn-primary" @onclick="GenerateRandomNumber">Generate</button>

@code {
    private int randomNumber;

    private void GenerateRandomNumber()
    {

    }
}